<h1>{{ preview.titulo }} RUC: {{ emisor.ruc }}</h1>
<strong>{{ emisor.razon_social }}</strong><br>
<address>{{ emisor.direccion }}</address>
<hr>
<strong>Fecha de Emisi&oacute;n:</strong><br>
{{ factura.fecha_emision }}<br>
<strong>Raz&oacute;n Social </strong><br>
{{ factura.razon_social }}<br>
<strong> {{ emisor.tipoDoc_val }} </strong><br>
{{ factura.ruc }}<br>
<strong>Tipo de Moneda</strong><br>
{{ factura.moneda }}<br>
<strong>Lugar de Entrega</strong><br>
{{ factura.direccion_entrega }}
<br>
<% if(documentos_relacionados.length > 0) {%>
<hr>
	<div class="alert alert-info" role="alert">
	    <strong>Documentos Relacionados</strong>
	</div>
	<% for( var doc in documentos_relacionados ) { %>
	    <strong>{{ documentos_relacionados[doc].selTipoDocumentoRelacionado_val }}</strong><br>
	    {{ documentos_relacionados[doc].txtSerie }} - {{ documentos_relacionados[doc].txtNumero}}<br>
	<% } %>
<% } %>
<hr>
<table class="table table-striped table-bordered footable">
    <thead>
        <tr>
            <th data-hide="phone">Cantidad</th>
            <th data-hide="phone">Unidad de Medida</th>
            <th>C&oacute;digo</th>
            <th>Descripci&oacute;n</th>
            <th data-hide="phone, tablet">Valor Unitario</th>
            <th data-hide="phone, tablet">Descuento</th>
            <th data-hide="phone">Igv </th>
            <th data-hide="phone">Importe del Item</th>
        </tr>
    </thead>
    <tbody>
<% for( var i in items ) { %>
          <tr>
            <td>{{ items[i].txtCantidad }}</td>
            <td>{{ items[i].selUnidadMedida_val }}</td>
            <td>{{ items[i].txtCodigo }}</td>
            <td>{{ items[i].txtDescripcion }}</td>
            <td>{{ items[i].txtValorUnitario }}</td>
            <td>{{ items[i].txtDescuento || "0.00" }}</td>
            <td>{{ items[i].txtIGV }}</td>
            <td>{{ items[i].txtImporte }}</td>
        </tr>
<% } %>
    </tbody>
</table>
<hr>
	<table class="table table-condensed no-border table-collapsable">
		<tr>
			<th class="text-right">Total Valor Venta Gravado</th>
			<td width="40">{{ decodeURIComponent(factura.moneda_simbolo) }}</td>
			<td id="total-valor-venta-gravado" width="200">{{ factura.total_gravado }}</td>
		</tr>
		<tr>
			<th class="text-right">Total Valor Descuentos</th>
			<td>{{ decodeURIComponent(factura.moneda_simbolo) }}</td>
			<td id="total-valor-descuentos">{{ factura.total_descuentos }}</td>
		</tr>
		<tr>
			<th class="text-right">Total IGV (18%)</th>
			<td>{{ decodeURIComponent(factura.moneda_simbolo) }}</td>
			<td id="total-igv">{{ factura.total_igv }}</td>
		</tr>
		<tr>
			<th class="text-right">Importe Total</th>
			<td>{{ decodeURIComponent(factura.moneda_simbolo) }}</td>
			<td id="importe-total">{{ factura.total_importe }}</td>
		</tr>
	</table>
